/*[class*="col-"] {*/
    /*background-clip: padding-box;*/
    /*border: 10px solid transparent;*/
/*}*/

.mm-container {
    padding: 15px;
}

.invisible {
    display: none;
    height: 0!important;
}

.waiting {
    width: 50%;
    margin: 0 auto;
}

.not-clickable {
    pointer-events: none;
}

.audio-width {
    width: 640px;
}